@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

body{
    background-color: #f8f8ff;
    font-family: 'Poppins', sans-serif;
    color: #646681;
}

a{text-decoration: none; color:#646681;}
a:hover{color:#7965f7;}

body>header{
    background-color: #ecedf6;
    box-shadow: 5px 5px 5px #cccdde;
    border:#ecedf6 solid 1px;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;
    border-radius: 1em;
    height: 5em;
}

/*LOGO*/
body>header img{
    height: 5em;
    border-radius: 1em 0 0 1em;
}
body>header img #logo{
    height: 100%;
}

/*MENU*/
body>header #menu {
    display:flex;
    justify-content: space-between;
    /* border: 1px solid #99b; */
}
.lienMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5em;
}
body>header #menu a{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2em;
    width: 180px;
}
body>header ul{list-style: none;}

/*USER*/
body>header #user{
    height: 5em;
}
body>header #user>a{
    width: 150px;
    display:block;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #99b;
    margin-top: -2em;
}
body>header #user ul li a{
    text-align: center;
    display:block;
    width: 12em;
    padding: 0.8em;
    border: 1px solid #99b;
}
body>header #user:hover ul{
    display:block;
}


#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #fff;
    box-shadow: 5px 5px 5px #cccdde;
    border:#ecedf6 solid 1px;
    flex:1;
    padding:1em;
    border-radius: 1em;  
    margin-bottom: 1em ;  
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
}
#wrapper aside h3 p{
    text-align: center;
}

#wrapper main{
    flex:3;
    padding-left:1em;
    /* height: 80vh; */
    /* overflow-y: scroll; */
}
#wrapper main article{
    background-color: #fff;
    box-shadow: 5px 5px 5px #cccdde;
    border:#ecedf6 solid 1px;
    padding:1em;
    margin-bottom: 1em ;
    border-radius: 1em;
}
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;
}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer a{
    color: #7965f7;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:1em;padding:0;}
#wrapper.admin main{
    flex:2;
    background-color: #fff;
    box-shadow: 5px 5px 5px #cccdde;
    border:#ecedf6 solid 1px;
    border-radius:1em;
    padding:0;
    margin-bottom: 1em;
}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border:1px solid #ddd;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}

pre{
    color:#aaa;
}

form dl dt{float:left;font-weight: bold;line-height: 1.5em;}
form dl dd{margin-left:10em;line-height: 1.5em;margin-bottom: 1em}
form dl dd textarea{width:40em;height: 15em;}

.submit{
    border: none;
    background-color: #7965f7;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.registration{
    border: solid 1px #7965f7;
    background-color: white;
    color: #7965f7;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.registration:hover{
    border: solid 1px #7965f7;
    background-color: #7965f7;
    color: white;
}

#publish_message{
    border-radius: 15px;
    padding: 10px;
}

.tag a{
    border: solid 1px #7965f7;
    background-color: white ;
    color: #7965f7;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}
.tag a:hover{
    border: none;
    background-color: #7965f7;
    color: white;
}
